/*******************************************/
/* BELOW 1344px (Smaller desktops) */
/*******************************************/
/* 1350/16 = 84  pixel/em */
@media (max-width: 84em) {
}

/*******************************************/
/* BELOW 1200px (Landscape Tablets) */
/*******************************************/

@media (max-width: 75em) {
}

/*******************************************/
/* BELOW 940px (Tablets) */
/*******************************************/

@media (max-width: 59em) {
}

/*******************************************/
/* BELOW 740px (Smaller tablets) */
/*******************************************/

@media (max-width: 740px) {
}

/*******************************************/
/* BELOW 544px (Phones) */
/*******************************************/

@media (max-width: 34em) {
}

/*******************************************/
/* FIXING SAFARI FLEXBOX GAP*/
/*******************************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
